<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h1 class="my-4">Enter code</h1>
    <form class="mb-5 p-4 bg-light rounded" method="post" th:action="@{/format}">
        <div class="mb-3">
            <textarea class="form-control" name="code" required rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">ID:</label>
            <input class="form-control" name="id" required type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Duration (sec):</label>
            <input class="form-control" max="7776000" min="10" name="durationSeconds" required type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Format</button>
    </form>

    <div class="mb-5" th:if="${original} or ${formatted}">
        <h2 class="mb-3">Original</h2>
        <pre class="p-3 bg-light rounded" th:text="${original}"></pre>

        <h2 class="mb-3 mt-4">Formatted</h2>
        <pre class="p-3 bg-light rounded" th:text="${formatted}"></pre>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
