<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>s30176</title>
    <link rel="stylesheet" th:href="style.css">
</head>
<body>
    <h1>Enter code</h1>
    <form action="/format" method="post">
        <textarea name="code" rows="10" cols="80" required></textarea><br/>
        ID:
        <input type="text" name="id" required/><br/>
        Duration (sec):
        <input type="number" name="durationSeconds" min="10" max="7776000" required/><br/>
        <button type="submit">Format</button>
    </form>

    <div>
        <h2>Original</h2>
        <pre th:text="${original}"></pre>

        <h2>Formatted</h2>
        <pre th:text="${formatted}"></pre>

    </div>
</body>
</html>